<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="img/profile.png" alt="">
                <div class="intro-text">
                    <span class="name">Inscription</span>
                    <hr class="star-light">
                    <div class="p-4 bg-light text-dark RegisterBlock">
						<h3>Création d'un compte</h3>
						<small>Veuillez remplirs les champs ci-dessous afin de créer un compte sur le site.</small>
						<div class="RegisterInfo {{register_statut}}">{{register_message}}</div>
						<form method="post" action="index.php?page=4">
							<input type="hidden" name="token" value="{{token}}" />
						  <div class="form-group">
							<label for="exampleInputEmail1">Nom de compte</label>
							<input type="text" name="login" class="form-control" placeholder="Nom de compte">
						  </div>
						  <div class="form-group">
							<label for="exampleInputPassword1">Mot de passe</label>
							<input type="password" name="mdp" class="form-control" placeholder="*******">
						  </div>
						  <div class="form-group">
							<label for="exampleInputPassword1">Répéter</label>
							<input type="password" name="mdpr" class="form-control" placeholder="*******">
						  </div>
						  <div class="form-group">
							<label for="exampleInputPassword1">Email</label>
							<input type="text" name="email" class="form-control" placeholder="Email">
						  </div>
						  <div class="form-group">
							<label for="exampleInputPassword1">Nom</label>
							<input type="text" name="nom" class="form-control" placeholder="Nom">
						  </div>
						  <div class="form-group">
							<label for="exampleInputPassword1">Prenom</label>
							<input type="text" name="prenom" class="form-control" placeholder="Prenom">
						  </div>
						  <div class="form-group align-center">
							<label for="exampleInputPassword1">Captcha</label>
							<div class="g-recaptcha" data-sitekey="6Ldph1oUAAAAAERiLMXzs0mTov9LJj50UeOsQPaE"></div>
						  </div>
						  <button type="submit" class="btn btn-primary">S'incrire</button>
						</form>
					</div>
                </div>
            </div>
        </div>
    </div>
</header>
