<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text p-4">
                    <span class="name">Utilisateur</span>
                    <hr class="star-light">
                    <div style="" class="p-4 bg-light text-dark loginBlock">
						<h3>Mot de passe oublié</h3>
						<small>Veuillez saisir votrez email pour récupérer votre compte</small>
						<div class="{{register_statut}}">{{register_message}}</div>
						<form method="post" action="index.php?page=3">
						  <input type="hidden" name="token" value="{{Core\Html\Form->generateToken()}}"/>
						  <div class="form-group">
							<label for="exampleInputEmail1">Adresse email</label>
							<input type="login" name="email" class="form-control" placeholder="Email">
						  </div>
						  <button type="submit" class="btn btn-primary">Connexion</button>
						</form>
						<div class="login-help">
					<a href="index.php?page=8">Mot de passe oublié ?</a>
				  </div>
					</div>
                </div>
            </div>
        </div>
    </div>
</header>


   