<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text p-4">
                    <span class="name">Connexion requise</span>
                    <hr class="star-light">

                    <div class="fail" class="p-4 bg-light text-dark text-center">

                        <b>Vous devez être connecté pour accéder à cette page.</b>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>